<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Replace YOUR_GITHUB_USERNAME with your GitHub username or org -->
    <add key="github" value="https://nuget.pkg.github.com/shashank-shekhar/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="%NUGET_USERNAME%" />
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
    </github>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="github">
      <package pattern="Syncfusion.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Syncfusion.ExcelExport.Net.Core" />
    </packageSource>
  </packageSourceMapping>
</configuration>
